.App {
  text-align: center;
}

.App button[role="link"] {
  color: blue;
  cursor: pointer;
  -webkit-appearance: none;
  background: none;
  border: navajowhite;
  display: inline;
  font-size: inherit;
}

.App button[role="link"]:hover {
  text-decoration: underline;
}
